table {
	width: 100%;
}
th {
	width: 0;
	overflow-x: visible;
}
td {
	background-color: #333333;
	text-align: center;
	padding: 0;
	vertical-align: text-top;
}
select {
	width: 100%;
	height: 100%;
	padding: 0;
	text-align: center;
	margin-top: 0;
	background-color: #333333;
	color: #eeeeee;
}
/* Scrollbar styling */
/* width */
select::-webkit-scrollbar {
  width: 2px;
}
/* Track */
select::-webkit-scrollbar-track {
  background: #333333;
}
/* Handle */
select::-webkit-scrollbar-thumb {
  background: #eee;
}
/* Handle on hover */
select::-webkit-scrollbar-thumb:hover {
  background: #666;
}

body {
	background-color: #444444;
	color: #eeeeee;
	font-family: sans-serif;
}
#exitButtons td {
	background-color: inherit;
}
#exitButtons td:first-child {
	text-align: left;
}
#exitButtons td:last-child {
	text-align: right;
}
